{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{STATIC_URL}}styles/blog-home.css">
<link rel="stylesheet" href="{{STATIC_URL}}styles/bootstrap.min.css">
{% endblock %}

{% block content %}
<div class="container">
    {% include "navbar.html" %}

    <div class="row">
        <div class="col-md-10">
            <h1 class="page-header">
                My Programming Blog
            </h1>
            <p>
                Just a list of my thoughts on programming stuff I run into
            </p>
            {% for blog in blogs %}
            <h3>
                {{blog.title}}
            </h3>
            <h5>
                {{blog.pub_date}}
            </h5>
            <br>
            <p>
                {{blog.body | safe}}
            </p>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}