{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-10">
    <h1 class="page-header">
      My Projects:
      <small>well, really just the ones I'm excited about right now</small>
    </h1>
    <h2>
      <a href="https://github.com/kmcbrayer/regUStrator">Regustrator</a>
    </h2>
    <p class="lead">
        Tech: Angular, THREE.js, Grunt.js, Yeoman with angular-generator 
    </p>
    <p>
    The project was an idea I had to use Angular directives to place three dimensional objects on a webpage with just HTML and a little JSON. It uses <a href="http://threejs.org/">THREE.js</a> to do the actual renderin. The purpose of the project was to abstract away the render loop elements, object creation, and setup code and put them in Angular directives. So instead of 50 or so lines of JavaScript you would end up with:
    </p>
    <pre><code><xmp>    <div class="window" ng-controller="MainCtrl">

      <screen id="main_screen"></screen>
      <camera></camera>

      <box props="box2"></box>
      <box options="{'x':3,'y':2,'z':3,'color':100}"></box>

      <line props="line1"></line>
      <line options="{'x1':0,'y1':-10,'x2':0,'y2':10}"></line>
      <line options="{'x1':0,'z1':-10,'x2':0,'z2':10}"></line>

      <triangle></triangle>
      <plane></plane>

      <text>This is text</text>

      <renderer></renderer>
    </div></xmp></code></pre>
    <!--<img class="img-responsive" src="http://placehold.it/900x300" alt="">-->
    <p>
    So any object elements between "camera" and "renderer" get rendered on the page. The attributes "props" and "options" roughly translate to external and inline styling respectivly. Props looks inside an angular service for a predefined json object with the matching name e.g. "box2". Options is just a stringified json object. 
    </p>
    <a class="btn btn-primary" href="/regUpreview">Live Demo<span class="glyphicon glyphicon-chevron-right"></span></a>
    
    <hr>

    <h2>
      <a href="https://github.com/kmcbrayer/regUStrator">Feeder</a>
    </h2>
    <p class="lead">
        Tech: Node, Express, Angular, karma-jasmine-phantomJS, Grunt, and  node-passport with social media APIs like FaceBook, Twitter, Google/Youtube, and Instagram.
    </p>
    <p>
        The main purpose of this project is to consolidate several social media feeds in chronological order. This is my first real go at a Node server and I found that all of the npm passport modules are pretty amazing. Logging is done with <a href="https://github.com/flatiron/winston">Winston JS</a> . <a href="http://gruntjs.com/">Grunt</a> and all of its plugins are great for tests and the live reload on save. This was my first expirence with this an I will never go back.  
    </p>
    <a class="btn btn-primary" href="http://www.kmcbrayer.com:3000">Live Demo<span class="glyphicon glyphicon-chevron-right"></span></a>
    

  </div><!-- end col -->
</div><!-- end row -->
{% endblock %}