<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html style="height:100%;"> <!--<![endif]-->
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kevin McBrayer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static "styles/main.css"%}">
    <link rel="stylesheet" href="{% static "styles/blog-home.css"%}">
    <link rel="stylesheet" href="{% static "styles/bootstrap.min.css"%}">

  </head>
  <body ng-app="regUstratorApp" style="height:100%;">

<!--three js files -->
<script src="{% static "scripts/jquery-1.11.0.js" %}"></script>
<script src="{% static "scripts/textAreaUtil.js" %}"></script>
<script src="{% static "scripts/three/three.js" %}"></script>
<script src="{% static "scripts/three/helvetiker_regular.typeface.js" %}"></script>
<script src="{% static "scripts/three/OrbitControls.js" %}"></script>
<script src="{% static "scripts/three/PointerLockControls.js" %}"></script>
{% include "navbar.html" %}
{% verbatim %}
<div class="container" style="height:100%;width:98%;">
  <div ng-controller="MainCtrl" style="height:100%;">
    <div class="row" style="height:100%;">
      <div class="pull-left" style="width:25%;height:100%;">
        <div id="description">
          <select data-ng-options="ele.name for ele in eleList" data-ng-model="eleSelected"></select>
          <a class="btn btn-primary" ng-click="addElement()">Add<span class="glyphicon glyphicon-chevron-right"></span></a>
          <a class="btn btn-primary" ng-click="clearElements()">ClearAll<span class="glyphicon glyphicon-chevron-right"></span></a><br><br>
          <div ng-show="eleSelected.name == 'Box'">
            <ul id="boxOptions">
              <li ng-repeat="(key,value) in boxDefaults">
              {{key}}: <input class="ele_options" type="text" name="{{key}}" value="{{value}}"><br>
              </li>
            </ul>
          </div>
          <div ng-show="eleSelected.name == 'Line'">
            <ul id="lineOptions">
              <li ng-repeat="(key,value) in lineDefaults">
              {{key}}: <input class="ele_options" type="text" name="{{key}}" value="{{value}}"><br>
              </li>
            </ul>
          </div>
          <div ng-show="eleSelected.name == 'Triangle'">
            <ul id="triangleOptions">
              <li ng-repeat="(key,value) in triangleDefaults">
              {{key}}: <input class="ele_options" type="text" name="{{key}}" value="{{value}}"><br>
              </li>
            </ul>
          </div>
          <div ng-show="eleSelected.name == 'Text'">
            <ul id="textOptions">
              <li ng-repeat="(key,value) in textDefaults">
              {{key}}: <input class="ele_options" type="text" name="{{key}}" value="{{value}}"><br>
              </li>
            </ul>
          </div>

          <a class="btn btn-primary" ng-click="submitCode()">Render<span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
        <br>
        <textarea id="textArea" ng-model="textAreaString" style="width:100%;height:100%;">
        </textarea>
      </div>
      
      <div id="window" class="pull-left" style="width:75%;" >
        <render-window></render-window>
        
      </div>
    </div>
  </div>
</div>
{% endverbatim %}

<!-- controls popup -->
<script type="text/javascript" >
  //$('#window').append('<div id="alert" style="position: absolute; top:10px;left:10px;" >ALL data was saved</div>');
  $('#alert').fadeOut('slow')
</script>
<!-- end controls popup -->

<!-- angular main -->
<script src="{% static "scripts/angular.js" %}"></script>

<script src="{% static "scripts/angular_scripts/angular-route.js" %}"></script>
<script src="{% static "scripts/angular_scripts/angular-sanitize.js" %}"></script>
<script src="{% static "scripts/angular_scripts/app.js" %}"></script>

<!-- angular app files -->
<script src="{% static "scripts/angular_scripts/controllers/main.js" %}"></script>
<script src="{% static "scripts/angular_scripts/directives/box.js" %}"></script>
<script src="{% static "scripts/angular_scripts/directives/camera.js" %}"></script>
<script src="{% static "scripts/angular_scripts/directives/line.js" %}"></script>
<script src="{% static "scripts/angular_scripts/directives/plane.js" %}"></script>
<script src="{% static "scripts/angular_scripts/directives/renderer.js" %}"></script>
<script src="{% static "scripts/angular_scripts/directives/screen.js" %}"></script>
<script src="{% static "scripts/angular_scripts/directives/text.js" %}"></script>
<script src="{% static "scripts/angular_scripts/directives/triangle.js" %}"></script>
<script src="{% static "scripts/angular_scripts/directives/renderWindow.js" %}"></script>
<script src="{% static "scripts/angular_scripts/services/boxService.js" %}"></script>
<script src="{% static "scripts/angular_scripts/services/drawobjs.js" %}"></script>
<script src="{% static "scripts/angular_scripts/services/lineService.js" %}"></script>
<script src="{% static "scripts/angular_scripts/services/objprops.js" %}"></script>
<script src="{% static "scripts/angular_scripts/services/planeservice.js" %}"></script>
<script src="{% static "scripts/angular_scripts/services/scenedata.js" %}"></script>
<script src="{% static "scripts/angular_scripts/services/textservice.js" %}"></script>
<script src="{% static "scripts/angular_scripts/services/triangleservice.js" %}"></script>
<script src="{% static "scripts/angular_scripts/services/utils.js" %}"></script>
<script src="{% static "scripts/angular_scripts/services/textAreaService.js" %}"></script>
<script src="{% static "scripts/angular_scripts/services/boxDefaults.js" %}"></script>
<script src="{% static "scripts/angular_scripts/services/lineDefaults.js" %}"></script>
<script src="{% static "scripts/angular_scripts/services/triangleDefaults.js" %}"></script>
<script src="{% static "scripts/angular_scripts/services/textDefaults.js" %}"></script>

</body>
</html>
